html {
  background-color: rgb(61, 120, 120);
}

.foreground {
  display: block;
  position: relative;
  width: 50px;
  z-index: 1;
  box-shadow: inset 0px 0px 20px 4px black;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #1c2d5c;
  position: relative;
}

#board {
  background-color: #1c2d5c;
  margin: 40px auto;
}

.page-text {
  text-align: center;
  font-family: "Franklin Gothic Book";
  white-space: pre;
}

@font-face {
  font-family: "Franklin Gothic Book";
  src: url(../connect-four/assets/FRABK.TTF);
}

#reset {
  display: block;
  margin: 20px auto;
  padding: 5px 8px;
  color: antiquewhite;
  background-color: darkred;
  border-radius: 10px;
  border-style: none;
}
#reset:hover {
  background-color: rgb(142, 33, 33);
}
#reset:active {
  background-color: rgb(73, 13, 13);
  color: rgb(183, 165, 140);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: absolute;
  box-sizing: border-box;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 1px;
  animation-duration: 0.5s;
  animation-name: fall;
}

@keyframes fall {
  from {
    top: -500%;
  }
  to {
    top: 1px;
  }
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.player1 {
  background-color: red;
}

.player2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
